<div class="group" id="ammoGroup" style="display: none;">
  <label>Розхід БК</label>
  <hr>
  <div class="ammo-flex">
    <div class="ammo-item">
      <label><input type="checkbox" id="ammo1" onchange="toggleAmmoCount('ammo1')"> АК-74 - 5.45</label>
      <input type="number" id="ammo1Count" disabled inputmode="numeric" placeholder="шт.">
    </div>
    <div class="ammo-item">
      <label><input type="checkbox" id="ammo2" onchange="toggleAmmoCount('ammo2')"> CANiK M2</label>
      <input type="number" id="ammo2Count" disabled inputmode="numeric" placeholder="шт.">
    </div>
    <div class="ammo-item">
      <label><input type="checkbox" id="ammo3" onchange="toggleAmmoCount('ammo3')"> ДП-27 7.62</label>
      <input type="number" id="ammo3Count" disabled inputmode="numeric" placeholder="шт.">
    </div>
  </div>
</div>
