<div class="group">
  <label>Відстань+, м</label>
  <hr>
  <input type="number" id="distance" inputmode="numeric" placeholder="висота прольоту цілі" />
  <div class="two-rows-buttons">
    <button class="plus-button" onclick="adjustValue('distance', 100)">+100 м</button>
    <button class="plus-button" onclick="adjustValue('distance', 1000)">+1000 м</button>
    <button class="plus-button" onclick="adjustValue('distance', 5000)">+5000 м</button>
    <button class="minus-button" onclick="adjustValue('distance', -100)">-100 м</button>
    <button class="minus-button" onclick="adjustValue('distance', -1000)">-1000 м</button>
    <button class="minus-button" onclick="adjustValue('distance', -5000)">-5000 м</button>
  </div>
</div>
