<div class="group target-type-group">
  <label>Тип цілі</label>
  <hr>
  <div class="radio-group">
    <label><input type="radio" name="target" value="БПЛА літакового типу"> БПЛА літакового типу</label>
    <label><input type="radio" name="target" value="Постріли (ЗУ,кулемет)"> Постріли (ЗУ,кулемет)</label>
    <label><input type="radio" name="target" value="Виходи (ПЗРК,ЗРК)"> Виходи (ПЗРК,ЗРК)</label>
    <label><input type="radio" name="target" value="КР (крилата ракета)"> КР (крилата ракета)</label>
    <label><input type="radio" name="target" value="Вибух"> Вибух</label>
    <label><input type="radio" name="target" value="ЛМ (Літак малий)"> ЛМ (Літак малий)</label>
    <label><input type="radio" name="target" value="ЛВ (Літак великий)"> ЛВ (Літак великий)</label>
    <label><input type="radio" name="target" value="Г (Гелікоптер)"> Г (Гелікоптер)</label>
    <label><input type="radio" name="target" value="К (квадрокоптер)"> К (квадрокоптер)</label>
    <label><input type="radio" name="target" value="З (Зонд)"> З (Зонд)</label>
    <label><input type="radio" name="target" value="Інше (деталі в описі)"> Інше (деталі в описі)</label>
  </div>
</div>
